@use "../abstracts/index" as *;

// debug lines temporary
* {
  // Conditional styling using @if
  @if $debug-lines == true {
    outline: 1px solid rgba(255, 0, 0, 0.386);
  } @else {
    outline: transparent;
  }
}

html,
body {
  background-color: black;
}

hr {
  border-top: 0.5px solid $grey80;
}
