@use "../abstracts/index" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: $black;
}
h1 {
  font-size: calc($fontsize-xxlarge * $font-size-scale);
}
h2 {
  font-size: calc($fontsize-xlarge * $font-size-scale);
}
h3 {
  font-size: calc($fontsize-large * $font-size-scale);
}
h4 {
  font-size: calc($fontsize-medium * $font-size-scale);
}
p,
span,
i {
  font-size: calc($fontsize-small * $font-size-scale);

  &.sub {
    font-size: calc($fontsize-xsmall * $font-size-scale);
  }
}
