@use "sass:color";

$primary: #222222;
$secondary: #4387e0;
$tertiary: orange;

$destructive: #e45353;
$greyed-out: #c0c0c0;
$success: #2fd44b;
$neutral: #4387e0;
$warning: #efaa6e;

$black: #222222;
$white: #f3f3f3;
$grey20: color.mix($white, $black, 20%);
$grey40: color.mix($white, $black, 40%);
$grey60: color.mix($white, $black, 60%);
$grey80: color.mix($white, $black, 80%);
