$primary: green;
$secondary: green;
$tertiary: green;

$destructive: green;
$greyed-out: green;
$success: green;
$neutral: green;
$warning: green;

$black: green;
$white: green;
$grey20: green;
$grey40: green;
$grey60: green;
$grey80: green;