$debug-lines: false;
$font-size-scale: 1;
$frame__container-maxwidth: 1200px;

$section-padding: 20px;
$element-spacing: 20px;
$component-spacing: 10px 0px;

$control-element-height: 38px;
$element-height: 60px;

$border-radius-small: 8px;
$border-radius-medium: 10px;
$border-radius-large: 12px;
