$debug-lines: false;
$font-size-scale: 1;
$section-container-max-width: 1140px;

$section-padding: 20px;
$element-spacing: 20px;
$component-spacing: 10px 0px;

$control-element-height: 45px;
$element-height: 60px;
$header-height: $element-height;
$footer-height: 40px;

$border-radius-small: 8px;
$border-radius-medium: 10px;
$border-radius-large: 12px;
