@use "../styles/abstracts/index" as *;

.footer-bar {
  background-color: $black;
  width: 100%;
  color: $grey60;
  display: flex;
  justify-content: center;
  height: $footer-height;
  padding: 10px;
}
