@use "../styles/abstracts/index" as *;

.header-bar {
  background-color: $primary;
  width: 100%;
  height: $element-height;
  color: $white;
  display: flex;
  flex-direction: row;
  // padding-inline: $section-padding;
  align-items: center;
  justify-content: space-between;
  // gap: $element-spacing;

  & > .logo-container {
    aspect-ratio: 1 / 1;
    height: 100%;

    & > .logo {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
      scale: 0.5;
    }
  }

  & > .location {
  }

  & > .hamburger {
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .bar {
      background-color: $white;
      height: 3px;
      width: 35px;
    }
  }
}
