@use "../styles/abstracts/index" as *;

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: calc($element-spacing / 2);

  & > .button {
    width: max-content;
  }
}

.input-field {
  height: $control-element-height;
  width: 100%;
  border: 1.5px solid $grey60;
  border-radius: $border-radius-small;
  padding-inline: 10px;
  display: flex;
  color: $black;
  align-items: center;
  background-color: white;

  &:focus {
    box-sizing: unset;
    border: 2px solid $secondary;
    outline: 4px solid $highlight-secondary;
  }
  &:not(:focus) {
    box-sizing: border-box;
  }

  &::placeholder {
    color: $grey40;
  }
}
