@use "../styles/abstracts/index" as *;

.input-group {
  display: flex;
  width: 100%;
  gap: calc($element-spacing / 2);

  & > .button {
    width: max-content;
  }
}

.input-field {
  height: $control-element-height;
  width: 100%;
  outline: 1.5px solid $grey60;
  border-radius: $border-radius-small;
  padding-inline: 10px;
  display: flex;
  color: $black;
  align-items: center;
  background-color: white;

  &::placeholder {
    color: $grey40;
  }
}
