@use "../abstracts/index" as *;

html,
body {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  .grid-container {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    .header-bar {
    }

    main {
      display: grid;
      grid-template-rows: 1fr auto;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $black;
      overscroll-behavior-block: auto;

      .page-container {
        background-color: $white;

        .page {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .section-container {
            display: flex;
            flex-direction: column;
            max-width: $section-container-max-width;
            width: 100%;

            section {
              padding: $section-padding;
            }
          }
        }
      }

      .footerBar {
      }
    }
  }
}

// main {
//   border: 5px solid red;
//   height: 100dvh;
// }

// .frame {
//   width: 100vw;
//   height: 100dvh;
//   overflow-x: hidden;
//   overflow-y: hidden;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   &__container {
//     width: 100%;
//     max-width: $frame__container-maxwidth;
//     height: 100%;
//     overflow-x: inherit;
//     overflow-y: scroll;
//     background-color: $white;
//   }
// }

// section {
//   height: max-content;
//   width: 100%;
//   padding: $section-padding;

//   &.double-column {
//     display: flex;
//     gap: $section-padding;

//     & > * {
//       flex: 1;
//     }
//   }

//   &__container {
//   }
// }
